
<%- include("./partials/header") %>

      
             
    
    <%- include("./partials/header") %>

<div class="profile-body">
    <h1>Welcome to <%= user.username %>'s page </h1>

    <div>
        <% for(var checkFollower of unique){ %>
            <% if(currentUser && checkFollower.username == currentUser.username){ %>
                <a disabled="disabled">already following <%= user.username %></a>
                <p id="danger">
                    <a href="/unfollow/<%= user.id %>"><button class="delete-button">Unfollow <%= user.username %></button></a>
                </p>
            <% } %>
        <% } %>
    </div>
    <p>
        <% if(currentUser && user.username == currentUser.username){ %>
            <a disabled="disabled"><button disabled class="edit-button">Follow <%= user.username %></button></a>
            <div class="follow-info">
                <button id="listfollowers"><%= user.followers.length %> followers</button>
                <button id="listfollowing">Following <%= user.following.length %></button>
            </div>
        <% } else if(!currentUser) { %>
            <a href="/follow/<%= user.id %>"><button class="edit-button">Follow <%= user.username %></button></a>
            <div class="follow-info">
                <button id="listfollowers"><%= user.followers.length %> followers</button>
                <button id="listfollowing">Following <%= user.following.length %></button>
            </div>
        <% } else if(currentUser && unique.username != currentUser.username && user.username != currentUser.username){ %>
            <a href="/follow/<%= user.id %>"><button class="edit-button">Follow <%= user.username %></button></a>
            <div class="follow-info">
                <button id="listfollowers"><%= user.followers.length %> followers</button>
                <button id="listfollowing">Following <%= user.following.length %></button>
            </div>
        <% } %> 
    </p>

    <% if (currentUser && user.username == currentUser.username) { %>
        chat
    <% }else if(currentUser){%>
        <p><a href="/chat/<%= user._id %>">💬 Message <%= user.username %></a></p>
    <%} %>
    
    

    
        <!-- Hidden list of followers -->
        <div id="followersList" style="display: none;">
            <ol>
                <% user.followers.forEach(function(follower) { %>
                    <li><a href="/user/<%= follower.id %>"><b><%= follower.username %></b></a></li>
                <% }); %>
            </ol>
        </div>

        <!-- Hidden list of following -->
        <div id="followingList" style="display: none;">
            <ol>
                <% user.following.forEach(function(follow) { %>
                    <li><a href="/user/<%= follow.id %>"><b><%= follow.username %></b></a></li>
                <% }); %>
            </ol>
        </div>
    <div class="profilePicture">
        <img src="<%= user.image[0].url %>" alt="<%= user.username %>'s picture">
        <h3><i>Profile Picture</i></h3>
    </div>

    <div class="profile-info">
        <div>
            <button class="edit-profile"> 
                <a href="<%= user._id %>/edit">Edit Profile</a>
            </button>
        </div>
        <div class="profile-details">
            <p>Phone number: <%= user.phone %></p>
            <p>Email: <%= user.email %></p>
            <p>Full name: <%= user.fullname %></p>
            <p>Brief description: <%= user.description %></p>
        </div>
    </div>

    <div class="profile-bottom">
        <% product.forEach(function(pro){ %>
            <% if(pro.adminpost === true){ %>
                <% if(user.username === pro.author.username){ %>
                    <div class="profile">
                        <h3>
                            <% if(pro.category == "Agricultural talk"){ %>
                                matters arising on<%= pro.name %>
                            <% } else { %>
                                <%= pro.name %> for sales
                            <% } %>
                        </h3>
                        <img src="<%= pro.image[0].url %>" alt="<%= pro.name %>">
                        <div class="descLink">
                            <p><%= pro.description %></p>
                            <h3><a href="/<%= pro._id %>">Click to view more</a></h3>
                        </div>
                    </div>
                <% } %>
            <% } else if(pro.adminpost === false && user.username === pro.author.username){ %>
                <div class="profile">
                    <h3>Your <%= pro.name %>'s post is under review</h3>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>

<%- include("./partials/footer") %>

      
             
    
    <%- include("./partials/header") %>

<div class="profile-body">
    <h1>Welcome to <%= user.username %>'s page </h1>

    <div>
        <% for(var checkFollower of unique){ %>
            <% if(currentUser && checkFollower.username == currentUser.username){ %>
                <a disabled="disabled">already following <%= user.username %></a>
                <p id="danger">
                    <a href="/unfollow/<%= user.id %>"><button class="delete-button">Unfollow <%= user.username %></button></a>
                </p>
            <% } %>
        <% } %>
    </div>
    <p>
        <% if(currentUser && user.username == currentUser.username){ %>
            <a disabled="disabled"><button disabled class="edit-button">Follow <%= user.username %></button></a>
            <div class="follow-info">
                <button id="listfollowers"><%= user.followers.length %> followers</button>
                <button id="listfollowing">Following <%= user.following.length %></button>
            </div>
        <% } else if(!currentUser) { %>
            <a href="/follow/<%= user.id %>"><button class="edit-button">Follow <%= user.username %></button></a>
            <div class="follow-info">
                <button id="listfollowers"><%= user.followers.length %> followers</button>
                <button id="listfollowing">Following <%= user.following.length %></button>
            </div>
        <% } else if(currentUser && unique.username != currentUser.username && user.username != currentUser.username){ %>
            <a href="/follow/<%= user.id %>"><button class="edit-button">Follow <%= user.username %></button></a>
            <div class="follow-info">
                <button id="listfollowers"><%= user.followers.length %> followers</button>
                <button id="listfollowing">Following <%= user.following.length %></button>
            </div>
        <% } %> 
    </p>

    <% if (currentUser && user.username == currentUser.username) { %>
        chat
    <% }else if(currentUser){%>
        <p><a href="/chat/<%= user._id %>">💬 Message <%= user.username %></a></p>
    <%} %>
    
    

    
        <!-- Hidden list of followers -->
        <div id="followersList" style="display: none;">
            <ol>
                <% user.followers.forEach(function(follower) { %>
                    <li><a href="/user/<%= follower.id %>"><b><%= follower.username %></b></a></li>
                <% }); %>
            </ol>
        </div>

        <!-- Hidden list of following -->
        <div id="followingList" style="display: none;">
            <ol>
                <% user.following.forEach(function(follow) { %>
                    <li><a href="/user/<%= follow.id %>"><b><%= follow.username %></b></a></li>
                <% }); %>
            </ol>
        </div>
    <div class="profilePicture">
        <img src="<%= user.image[0].url %>" alt="<%= user.username %>'s picture">
        <h3><i>Profile Picture</i></h3>
    </div>

    <div class="profile-info">
        <div>
            <button class="edit-profile"> 
                <a href="<%= user._id %>/edit">Edit Profile</a>
            </button>
        </div>
        <div class="profile-details">
            <p>Phone number: <%= user.phone %></p>
            <p>Email: <%= user.email %></p>
            <p>Full name: <%= user.fullname %></p>
            <p>Brief description: <%= user.description %></p>
        </div>
    </div>

    <div class="profile-bottom">
        <% product.forEach(function(pro){ %>
            <% if(pro.adminpost === true){ %>
                <% if(user.username === pro.author.username){ %>
                    <div class="profile">
                        <h3>
                            <% if(pro.category == "Agricultural talk"){ %>
                                matters arising on<%= pro.name %>
                            <% } else { %>
                                <%= pro.name %> for sales
                            <% } %>
                        </h3>
                        <img src="<%= pro.image[0].url %>" alt="<%= pro.name %>">
                        <div class="descLink">
                            <p><%= pro.description %></p>
                            <h3><a href="/<%= pro._id %>">Click to view more</a></h3>
                        </div>
                    </div>
                <% } %>
            <% } else if(pro.adminpost === false && user.username === pro.author.username){ %>
                <div class="profile">
                    <h3>Your <%= pro.name %>'s post is under review</h3>
                </div>
            <% } %>
        <% }) %>
    </div>
</div>

<%- include("./partials/footer") %>
