<%- include("../partials/header")%>
<div class="category">
        <h3 class="aboutHead">CONNECTING FARMERS TO GLOBAL MARKET - Your Digital Marketing Solution</h3>
            <div class="chef"></div>
            We are open for business all across the nation, 
            if you have any form of culinary skills to offer for sales, 
            kindly click the "add to chef" button below for your product's display and expect a call to action in some moment later
        
    <div class="category">
            <h3 class="aboutHead">CHEF SHOWCASE</h3>
            Farmgate Global invites talented chefs from across the country to showcase their culinary skills 
            and expertise. We welcome chefs specializing in both local and international cuisines, 
            including cake making, small chops, party jollof, party stew, Amala and Efo-riro, Asun, and more.
            If you are a skilled chef eager to display your talent and connect with a broader market, 
            Farmgate Global provides the perfect platform for you to shine.

    </div>

        <div class="add-new">
            <button><a href="/addnew">Add to Chef</a></button>
            <p>List of the available agrocommodities for sales</p>
        </div>
        <div class="general-content">
        <%chef.slice().reverse().forEach(function(cook){%>
            <div class="content">
                <a href="/<%=cook._id%>">
                    <img height="auto" width="100%" src="<%= cook.image[0].url%>" alt="<%=cook.name%>"/>
                    <div class="content-desc">
                        <h1><%=cook.name%></h1>
                        <p><%=cook.description%></p>
                    </div>
                    <button class="frontBtn">See more</button>
                </a>
                
            </div>
            
        <%})%>
    </div>
</div>
<%- include("../partials/footer") %>
    