<%- include("../partials/header")%>
<div class="category">
    <p>
        <h3  class="aboutHead">CONNECTING FARMERS TO GLOBAL MARKETS - Your Digital Marketing Solution</h3>
        <div class="estate">  </div>
        At Farmgate Nigeria, we specialize in linking farmers with their target audience across the globe. 
        We are committed to helping agricultural businesses connect with new customers and expand their reach 
        nationwide.
        if you have any farm product to display for sales, 
        kindly click the "add to real estate" button below for your product's display and expect a call to action in some moment later
    </p>
    
        <h3 class="aboutHead">Farm Real Estate</h3>
    <div class="category">

        In this section, we invite farmers who wish to lease or sell agricultural land, farm structures, 
        and buildings in specific locations to list their properties with us. Our goal is to connect you with 
        suitable farmers who are the perfect fit for your properties.
        Whether you are leasing or selling your farm assets, we can help you reach the right audience, 
        ensuring a smooth transaction and peace of mind regarding your real estate investments.
        Furthermore, abandoned farm properties present an excellent opportunity for emerging farmers, 
        providing them with a solid foundation to grow and thrive in the agricultural sector.
    </div>


    <div class="add-new">
        <button><a href="/addnew">Add to real estate</a></button>
        <p>List of the available properties at reach</p>
    </div>
    <div class="general-content">
    <%estate.forEach(function(bake){%>
        <div class="content">
            <a href="/<%=eat._id%>">
                <img height="auto" width="100%" src="<%= bake.image[0].url%>" alt="<%=bake.name%>"/>
                <div class="content-desc">
                    <h1><%=bake.name%></h1>
                    <p><%=bake.description%></p>
                </div>
                <button class="frontBtn">See more</button>
            </a>
            
        </div>
        
    <%})%>
</div>
</div>

<%- include("../partials/footer") %>
    