<%- include("../partials/header")%>
<div>
        <p>
            <h3>Connecting Farmers to Global Markets - Your Digital Marketing Solution</h3>
        At Farmgate Global, we specialize in linking farmers with their target audience across the globe. 
        We are committed to helping agricultural businesses connect with new customers and expand their reach 
        nationwide.
        if you have any farm product to display for sales, 
        kindly click the "add to store" button below for your product's display and expect a call to action in some moment later
        </p>
        <div class="category">
            <h3>Farm Equipment</h3>
            The sale of farm equipment is rapidly emerging as a highly profitable business, particularly for 
            those with strong access to and connections with the target market. At Farmgate Global, our mission 
            is to connect you with the ideal audience to drive your sales and business success.
            Modern farmers no longer rely on traditional tools such as cutlasses and hoes. Thanks to advancements 
            in agricultural technology, 21st-century farming now incorporates sophisticated tools, including watering 
            drones, manual and automated weed removal devices, surveillance cameras, automated feeders and waterers, 
            combined harvesters and planters, farm scooters, tricycles, and much more.
            Additionally, agricultural biotechnology plays a crucial role in the evolution of modern farming. 
            Today, farmers are utilizing <a href="/pets">pets and animals</a> to assist with livestock management, allowing for greater 
            efficiency. Animals such as monkeys, donkeys, dogs, geese, ladybugs, and others help reduce the need 
            for human labor, making farming operations more efficient and sustainable.
            Showcase your available farm tools and equipment for sale, and let us help you reach your target 
            audience, ensuring you make a significant impact in this thriving industry.
        </div>
    
        <div class="add-new">
            <button><a href="/addnew">Add to farm equipments</a></button>
            <p>List of the available agrocommodities for sales</p>
        </div>
        <div class="general-content">
        <%farmequips.forEach(function(equips){%>
            <div class="content">
                <a href="/<%=equips._id%>">
                    <img height="auto" width="100%" src="<%= equips.image[0].url%>" alt="<%=equips.name%>"/>
                    <div class="content-desc">
                        <h1><%=equips.name%></h1>
                        <p><%=equips.description%></p>
                    </div>
                    <button class="frontBtn">See more</button>
                </a>
                
            </div>
            
        <%})%>
    </div>
</div>
<%- include("../partials/footer") %>
    