<%- include("../partials/header")%>

    <p>
        <h3>Connecting Farmers to Global Markets - Your Digital Marketing Solution</h3>
        At Farmgate Nigeria, we specialize in linking farmers with their target audience across the globe. 
        We are committed to helping agricultural businesses connect with new customers and expand their reach 
        nationwide.
        if you have any farm product to display for sales, 
        kindly click the "add to store" button below for your product's display and expect a call to action in some moment later
    </p>
    <div class="category">
        Farmers Nationwide Invited to Post Livestock and Poultry Products for Sale at Competitive Farm 
        Gate Prices. We invite farmers from across the country to participate in this interactive 
        platform where you can post and sell your livestock and poultry at farm gate prices. 
        If you're looking to sell ruminant animals like live goats, sheep, or cattle, this is the 
        perfect place for quick and efficient transactions. Farmers dealing in live poultry, such as live 
        turkeys, live broilers, live cockerels, and other poultry birds, are also encouraged to showcase their
         stock. Whether you're selling spent layers or any poultry-related product, this platform is designed 
         to connect you with potential buyers. Additionally, farmers selling poultry products such as 
         eggs and day-old chicks are also welcome to display their offerings for interested buyers. Day-Old 
         Chicks for Sale When posting day-old chicks for sale, make sure to clearly indicate the brand name 
         so your buyers can easily identify your products. Popular day-old chicks brands include, 
         but are not limited to:<br>

        CHI Brand<br>
        Zartech Brand<br>
        Amo Brand<br>
        Agrited Brand<br>
        Seyyed Brand<br>

        This ensures that your potential clients are well-informed and can make confident purchasing 
        decisions. Let’s connect and grow together through this valuable platform, facilitating quicker sales 
        and access to top-quality livestock and poultry products.
    </div>
    <div class="add-new">
        <button><a href="/addnew">Add to Livestocks</a></button>
        <p>List of the available agrocommodities for sales</p>
    </div>
    <div class="general-content">
    <%livestocks.forEach(function(live){%>
        <div class="content">
            <a href="/<%=live._id%>">
                <img height="auto" width="100%" src="<%= live.image[0].url%>" alt="<%=live.name%>"/>
                <div class="content-desc">
                    <h1><%=live.name%></h1>
                    <p><%=live.description%></p>
                </div>
                <button class="frontBtn">See more</button>
            </a>
            
        </div>
        
    <%})%>
</div>
<%- include("../partials/footer") %>