<%- include("../partials/header")%>
<div class="category">

    <p>
        <h3 class="aboutHead">CONNECTING FARMERS TO GLOBAL MARKETS - Your Digital Marketing Solution</h3>
        <div class="flourist"></div>
        At Farmgate Nigeria, we specialize in linking farmers with their target audience across the globe. 
        We are committed to helping agricultural businesses connect with new customers and expand their reach 
        nationwide.
        if you have any farm product to display for sales, 
        kindly click the "add to store" button below for your product's display and expect a call to action in some moment later
    </p>
        <h3 class="aboutHead">Garden and Floriculture Services</h3>
    <div class="category">
        <h3>Garden and Floriculture Services</h3>
        At Farmgate Nigeria, our garden and floriculture services are designed to enhance the natural beauty 
        of your environment, ensuring it remains clean, healthy, and free from harmful elements such as dirt, 
        pests, and weeds. This section focuses on key services, including the establishment and maintenance 
        of ornamental flowers, urban pest fumigation, as well as the cleaning and fumigation of both 
        residential and commercial properties.
        We invite skilled florists with impressive portfolios in landscape design, flower wreath making, 
        and other related areas to join our interactive platform. As a member of our network, florists can 
        leverage the Farmgate Global platform to showcase their expertise and secure transformative projects 
        from a wide audience of site visitors. Florists will have the opportunity to display a variety of 
        ornamental plants, from indoor plants to hanging plants, wall plants, and more, giving them the chance
         to reach potential clients looking for high-quality floriculture services.

        <h3 class="aboutHead">Horticulturists Wanted</h3>
        We are also seeking skilled horticulturists with expertise in seedling cultivation, greenhouse 
        renovation, and construction. By joining our platform, you will gain access to a broader audience 
        in a short amount of time, allowing your business to grow rapidly. At Farmgate Global, we are 
        committed to helping you thrive in the digital space and achieve your business goals. We look 
        forward to partnering with you and supporting your growth.
    </div>

    <div class="add-new">
        <button><a href="/addnew">Click to add new</a></button>
        <p>List of the available agrocommodities for sales</p>
    </div>
    <div class="general-content">
    <%seedlings.forEach(function(crops){%>
        <div class="content">
            <a href="/<%=crops._id%>">
                <img height="auto" width="100%" src="<%= crops.image[0].url%>" alt="<%=crops.image[0].name%>"/>
                <div class="content-desc">
                    <h1><%=crops.name%></h1>
                    <p><%=crops.description%></p>
                </div>
                <button class="frontBtn">See more</button>
            </a>
            
        </div>
        
    <%})%>
</div>
</div>
<%- include("../partials/footer") %>