<%- include("../partials/header")%>
<div class="categorycontainer">


<div class="category">
<p>
    <h3 class="aboutHead">Connecting Farmers to Global Markets - Your Digital Marketing Solution</h3>
    At Farmgate Global, we specialize in linking farmers with their target audience across the globe.
    <h3>Connecting Farmers to Global Markets - Your Digital Marketing Solution</h3>
    At Farmgate Nigeria, we specialize in linking farmers with their target audience across the globe. 
    At Farmgate Global, we specialize in linking farmers with their target audience across the globe. 
    We are committed to helping agricultural businesses connect with new customers and expand their reach 
    nationwide.
    </p>
    <p>
        
        <h3 class="aboutHead">Agricultural Talk</h3>
            Farmgate Nigeria offers a platform for engaging discussions on current trends in pet and 
            livestock management. Join the conversation on various topics such as animal health, behavioral 
            patterns, disease management, and habitat care. Through our interactive "Agricultural Talk" 
            section, you can gain insights into effective feeding formulations and other best practices 
            for livestock care. How to Participate:<br>
            Upload up to three images showcasing your current situation or experience.<br>
            Provide a detailed explanation of your experience or scenario.<br>
            Select "Agricultural Talk" from the category drop-down menu.<br>
            Enter "0000" in the price field and click the submit button.<br>
            Once submitted, fellow farm users with similar experiences will be able to connect with you 
            through the comment section, offering advice and shared insights.
        
            
    </p>
</div>
    <div class="add-new">
        <button><a href="/addnew">Click to contribute</a></button>
        <p>Matters arising in the field of Agricultural Sciences</p>
        </div>
            
    </p>
</div>
    <div class="general-content">
    <%Agricultural_talk.forEach(function(talk){%>
        <div class="content">
            <a href="/<%=talk._id%>">
                <img height="auto" width="100%" src="<%= talk.image[0].url%>" alt="<%=talk.name%>"/>
                <div class="content-desc">
                    <h1>matters arising on <%=talk.name%></h1>
                    <p><%=talk.description%></p>
                </div>
                <button class="frontBtn">See more</button>
            </a>
            
        </div>
        
    <%})%>

</div>
</div>
<%- include("../partials/footer") %>