<%-include("../partials/header")%>

<div class="comment-block">
    <h4>Original Comment</h4>
    <p>By <%= parentComment.author.username %></p>
    <p><%= parentComment.post %></p>
</div>
    

<h4>reply to <%= parentComment.author.username %>'s comment</h4>
<form action="/<%=product.category%>/<%=product._id%>/comment/<%=parentComment._id%>/reply/<%=editReply._id%>?_method=PUT" method="POST" >
    <div class="form-style">
        <label>comment</label>
        <textarea name="replies[post]"><%=editReply.post%></textarea>
        <button>update</button>
    </div>
    
</form>
<%-include("../partials/footer")%>